.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.title {
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
  display: block;
  color: #3498db;
}

.links {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.link {
  font-size: 1.3em;
  opacity: 0.7;
  color: #000000;
  cursor: pointer;
  font-weight: 500;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.active {
  opacity: 1;
  color: #3498db;
}
