// Pagination

.pagination {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 50px auto;
  width: 100% !important;

  @media (max-width: 700px) {
    button {
      font-size: 0.8em;
      min-width: 20px;
    }
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
