.container {
  margin-bottom: 20px;
  padding: 20px;
  .title {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  .form {
    width: 60%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
    @media (max-width: 700px) {
      width: 100%;
    }
    .input {
      label {
        z-index: 0 !important;
      }
    }
    .clear {
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 1.6em;
      cursor: pointer;
    }
  }
}
.hidden {
  display: none;
}
